{{- if .Values.controllerRbac -}}
{{- $releaseNamespace := .Release.Namespace -}}
{{- range .Values.applicationTargets }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: argocd-application-controller
rules:
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - "*"
- apiGroups:
  - ""
  resources:
  - services
  - namespaces
  - secrets
  - configmaps
  - serviceaccounts
  verbs:
  - "*"
- apiGroups:
  - "apps"
  resources:
  - deployments
  - statefulsets
  verbs:
  - "*"
- apiGroups:
  - "project.openshift.io"
  resources:
  - projects
  verbs:
  - "*"
- apiGroups:
    - "networking.k8s.io"
  resources:
    - networkpolicies
  verbs:
    - "*"
- apiGroups:
    - "rbac.authorization.k8s.io"
  resources:
    - roles
    - rolebindings
  verbs:
    - "*"
- apiGroups:
    - "security.openshift.io"
  resources:
    - securitycontextconstraints
  verbs:
    - "*"
- apiGroups:
    - "operators.coreos.com"
  resources:
    - subscriptions
    - operatorgroup
  verbs:
    - "*"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: argocd-application-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: argocd-application-controller
subjects:
- kind: ServiceAccount
  name: argocd-application-controller
  namespace: {{ $releaseNamespace }}
- kind: ServiceAccount
  name: argocd-server
  namespace: {{ $releaseNamespace }}
---
{{- end -}}
{{- end -}}